{% extends "master/index.html" %}
{% load static %}

{% block content %}
<div class="main-content">
  <div class="main-content-inner">
    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
      <ul class="breadcrumb" style="font-family: Arial, Helvetica, sans-serif;">
        <li>
          <i class="ace-icon fa fa-home home-icon"></i>
          <a href="{% url 'master' %}">Trang Chủ</a>
        </li>
        <li>
          Bảng
        </li>
        <li class="active">Nhóm Truyện</li>
      </ul>
      <!-- /.breadcrumb -->

      <div class="nav-search" id="nav-search">
        <form class="form-search">
          <span class="input-icon">
            <input
              type="text"
              placeholder="Search ..."
              class="nav-search-input"
              id="nav-search-input"
              autocomplete="off"
            />
            <i class="ace-icon fa fa-search nav-search-icon"></i>
          </span>
        </form>
      </div>
      <!-- /.nav-search -->
    </div>

    <div class="page-content">
      <div class="page-header" style="font-family: Arial, Helvetica, sans-serif;">
        <h1>
          Bảng
          <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Nhóm Truyện
          </small>
        </h1>
      </div>
      <!-- /.page-header -->

      <div class="row">
        <div class="col-xs-12">
          <button
            id="add_new"
            data-url="{% url 'addmangatype' %}"
            class="btn btn-primary"
          >
            Thêm Mới
          </button>
          <!-- PAGE CONTENT BEGINS -->
          <div class="row">
            <div class="col-xs-12">
              <div class="clearfix">
                <div class="pull-right tableTools-container"></div>
              </div>
              <div
                class="table-header"
                style="font-family: Arial, Helvetica, sans-serif;"
              >
                Danh sách nhóm Truyện
              </div>

              <!-- div.table-responsive -->

              <!-- div.dataTables_borderWrap -->
              <div>
                <table
                  id="dynamic-table"
                  class="table table-striped table-bordered table-hover" style="font-family: Arial, Helvetica, sans-serif;"
                >
                  <thead>
                    <tr>
                      <th class="center">
                        <label class="pos-rel">
                          <input type="checkbox" class="ace" />
                          <span class="lbl"></span>
                        </label>
                      </th>
                      <th>Nhóm</th>
                      <th>Đường Dẫn</th>
                      <!-- <th class="hidden-480">Status</th> -->

                      <th></th>
                    </tr>
                  </thead>

                  <tbody>
                   {% include "master/list/type.html" %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- PAGE CONTENT ENDS -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.page-content -->
    <!-- /.page-content -->
  </div>
</div>
<!-- /.main-content -->
<div class="modal fade" id="get_modal">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
{% endblock %}
{% block js %}
  <script type="text/javascript">
  var loadForm = function () {
    var btn = $(this);
    $.ajax({
      url: btn.attr("data-url"),
      type: "get",
      dataType: "json",
      beforeSend: function () {
        $("#get_modal").modal("show");
      },
      success: function (data) {
        if(data.trangchu)
        {
            $("#get_modal").modal("hide");
        }else
        {
          $("#get_modal .modal-content").html(data.modal_form);
        }
        
      },
    });
  };

  var saveForm = function () {
    var form = $(this);
    $.ajax({
      url: form.attr("action"),
      data: form.serialize(),
      type: form.attr("method"),
      dataType: "json",
      success: function (data) {
        if (data.request) {
          $("#dynamic-table tbody").html(data.list);
          $("#get_modal").modal("hide");
          window.location.reload();
        } else {
          $("#get_modal .modal-content").html(data.modal_form);
        }
      },
    });
    return false;
  };
  $("#add_new").click(loadForm);
  $("#get_modal").on("submit", "#form_add_submit", saveForm);
  $("#dynamic-table").on("click", "#update_edit", loadForm);
  $("#get_modal").on("submit", "#edit_form_submit", saveForm);
  $("#dynamic-table").on("click", "#delete_trash", loadForm);
  $("#get_modal").on("submit", "#delete_form_submit", saveForm);
</script>
{% endblock  %}
    
    