<form method="post" action="{% url 'deleteformality' data.id %}" id='delete_form_submit'>
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Xác Nhận Xóa Thông Tin Ở Dưới Đây ?</h4>
  </div>
  <div class="modal-body">
    <p class="lead">Bạn Có Chắc Xóa Thông Tin Này, Thông Tin Có Nội Dung Như Sau : "<strong>{{ data }}</strong>" ?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
    <button type="submit" class="btn btn-danger">Xác Nhận</button>
  </div>
</form>