<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %} {% load socialaccount %} {% providers_media_js %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manga</title>
    <link rel="stylesheet" href="{% static 'client/assets/css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'client/assets/css/style.css' %}" />
    <script src="{% static 'client/assets/js/main.js' %}"></script>
    <script src="{% static 'client/assets/js/lazyloader.js' %}"></script>
    <!-- <script src="{% static 'client/assets/js/jquery.tinymce.min.js' %}"></script> -->
    <script
      src="https://cdn.tiny.cloud/1/nf0evhvl003idt9lu8m0cwdcf19wcsks3r1vvineh5nivzmj/tinymce/5/tinymce.min.js"
      referrerpolicy="origin"
    ></script>

   
    <!-- <link
      rel="stylesheet"
      href="{% static 'master/assets/css/bootstrap.min.css' %}"
    /> -->
  </head>
  <body style="font-family: Arial, Helvetica, sans-serif;">
    <div class="outsite">
      <section class="top-bar" id="home">
        <div class="container">
          <div class="level">
            <div class="level-left pc">
              <span class="logo">
                <a href="/">TNManga</a>
              </span>
              <!-- /.logo -->
              <div class="top-search">
                <form action="{% url 'tim-kiem' %}">
                   <input
                    type="text"
                    class="text-search"
                    name="search"
                    id="txtSearch"
                    placeholder="Vui lòng nhập truyện, tác giả để tìm truyện...."
                  />
                <button type="submit" class="submit-btn btn_search"></button>
                </form>
               
                <!-- <form class="text-search" action="{% url 'tim-kiem' %}" method="get">
                    <input
                    type="text"
                    name="search"
                    id="txtSearch"
                    placeholder="Vui lòng nhập truyện, tác giả để tìm truyện...."
                  />
                  <button type="submit" class="submit-btn btn_search"></button>
                </form> -->
                <div class="list-results">
                  <!-- Add class 'open' to open list results -->
                  {% include "client/include/timkiem.html" %}
                </div>
                <!-- /.list-results -->
              </div>
              <!-- /.top-search -->
            </div>
            <div class="level-right" id="data_login">
              {% include "client/include/flogin.html" %}

              <!-- /.top-buttons -->
            </div>
          </div>
        </div>
      </section>
      <!-- /.top-bar -->
      {% include "client/include/loginmodal.html" %}
      <!-- /.login-modal -->
      {% include "client/include/forgot.html" %}
      <!-- /.notify-modal -->

      <section class="main-menu">
        <div class="container">
          <nav class="navbar">
            <div class="navbar-menu">
              <div class="navbar-start">
                <!-- <div class="top-search smp">
                  <input
                    class="text-search"
                    type="text"
                    placeholder="Bạn cứ nhập từ khoá, còn lại để qq lo"
                  />
                  <button class="submit-btn btn_search"></button>
                  <div class="list-results"></div>
                </div> -->
                <a href="/" class="navbar-item">Trang Chủ</a>
                <div class="navbar-item has-dropdown is-hoverable is-mega">
                  <div class="navbar-link">Thể loại</div>
                  <div class="navbar-dropdown" id="Category">
                    {% include "client/include/category.html" %}
                  </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable is-mega">
                  <div class="navbar-link">Sắp Xếp</div>
                  <div class="navbar-dropdown">
                    <div class="container">
                      <div class="level">
                        <div class="level-left mega-list-wrapper">
                          <div class="columns">
                            <div class="column">
                              <ul class="mega-list">
                                <li>
                                  <a href="#">Top Ngày</a>
                                </li>
                                <li>
                                  <a href="#">Top Tuần</a>
                                </li>
                              </ul>
                            </div>
                            <div class="column">
                              <ul class="mega-list">
                                <li>
                                  <a href="#">Top Tháng</a>
                                </li>
                                <li>
                                  <a href="#">Yêu Thích</a>
                                </li>
                              </ul>
                            </div>
                            <div class="column">
                              <ul class="mega-list">
                                <li>
                                  <a href="#">Mới Cập Nhật</a>
                                </li>
                                <li>
                                  <a href="#">Truyện Mới</a>
                                </li>
                              </ul>
                            </div>
                            <div class="column">
                              <ul class="mega-list">
                                <li>
                                  <a href="#">Truyện Full</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="#" class="navbar-item">Lịch Sử</a>
                <a href="#" class="navbar-item">Truyện Mới</a>
                <a href="#" class="navbar-item">Chương Mới Cập Nhập</a>
              </div>
            </div>
          </nav>
        </div>
      </section>
      <!-- /.main-menu -->
      {% if request.get_full_path == "/"%}
      <section class="right-bar pc">
        <div class="top-right-bar">
          <div class="right-bar-item">
            <a href="#home"><span class="group-icon"></span></a>
          </div>
          <div class="right-bar-item">
            <a href="#list-update" style="color: #56ccf2;">
              <span class="starts-icon"></span>
              Cập nhật
            </a>
          </div>
          <div class="right-bar-item">
            <a href="#list-female" style="color: #ff2853;">
              <span class="female-icon"></span>
              Truyện Tranh
            </a>
          </div>
          <div class="right-bar-item">
            <a href="#list-male" style="color: #f18121;">
              <span class="male-icon"></span>
              Truyện Chữ
            </a>
          </div>
        </div>
        <!-- /.top-right-bar -->
      </section>
      {% else %} {% endif %}

      <!-- /.right-bar -->
      {% block content %} {% endblock %}
      <!-- /.main-content -->
      <section class="footer">
        <div class="container">
          <div class="level">
            <div class="level-left">
              <div class="text-footer">
                Copyright © 2020 - K16 - Hutech - 1611062128
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- /.footer -->
    </div>
    <script src="{% static 'client/assets/js/jquery-2.1.1.min.js' %}"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script> -->
    <script src="{% static 'master/assets/js/bootstrap.min.js' %}"></script>
    <script src=" {% static 'client/assets/js/jquery.ui.widget.js' %} "></script>
    <!-- <script src=" {% static 'client/assets/js/jquery.ifram-transport.js' %} "></script> -->
    <script src=" {% static 'client/assets/js/jquery.fileupload.js' %} "></script>
    <script type="text/javascript">
      $("#txtSearch").bind("keyup", function(){
        var search_text = $("#txtSearch").val();
        if(search_text == "")
        {
           $(".list-results").removeClass("open");
        }else
        {
          $.ajax({
            url: "{% url 'tim-kiem-goi-y' %}",
            dataType: 'json',
            data:{
              search_text : search_text,
              // 'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
            },
            success:function(data)
            {
              $(".list-results").addClass("open");
              $(".list-results").html(data.statuss);
            }
          });
        }
       
      });
      // function search()
      // {
      //    var search_text = $("#txtSearch").val();
      //   if(search_text == "")
      //   {
      //     alert("Vùi lòng điền nội dung tìm kiếm ~~");
      //   }else
      //   {
      //     $.ajax({
      //       url: "{% url 'tim-kiem' %}",
      //       type : "GET",
      //       dataType:'json', 
      //       data:{
      //         search_text : search_text,
      //         // 'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
      //       }
      //     }).done(function(data){
      //       Console.log(data.success);
      //     });
      //   }
      // };
      // $("#txtSearch").click(function(){
      //   var search_text = $("#txtSearch").val();
      //   $.ajax({
      //       url: "{% url 'tim-kiem-goi-y' %}",
      //       dataType: "json",
      //       data:{
      //         search_text : search_text,
      //         // 'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
      //       },
      //       success:function(data)
      //       {
      //         $(".list-results").addClass("open");
      //         $(".list-results").html(data.statuss);
      //       }
      //     })
      // });
        // var s = null;
        // f(".text-search").bind("keyup", function (e) {
        //   var t = f(this),
        //     n = f(this).val(),
        //     i = e.keyCode;
        //   if (38 != i && 40 != i && 37 != i && 39 != i && 13 != i)
        //     0 < n.trim().length
        //       ? (clearTimeout(s),
        //         (s = setTimeout(function () {
        //           f.ajax({
        //             type: "POST",
        //             url: "{% url 'tim-kiem' %}",
        //             data: { search: n, type: 0 },
        //           }).done(function (e) {
        //             f(".list-results").addClass("open"),
        //               f(".list-results").html(e);
        //           });
        //         }, 500)))
        //       : f(".list-results").removeClass("open");
        //   else if (
        //     0 < n.trim().length &&
        //     1 == t.is(":focus") &&
        //     13 == i &&
        //     0 == f(".list-results .active").length
        //   ) {
        //     var r = f(t).val();
        //     window.location.href =
        //       // document.location.origin + "/tim-kiem.html?q=" + r;
        //       document.location.origin +
        //       "/more-manga/?q="+r;  
        //   }
        // }),
        //   f(".text-search").click(function () {
        //     var e = f(this).val();
        //     "" != f(this).val() && 0 == f(".list-results").hasClass("open")
        //       ? f
        //           .ajax({
        //             type: "POST",
        //             // url: urlSearch,
        //             url: "{% url 'tim-kiem-goi-y' %}",
        //             data: { search: e, type: 0 },
        //           })
        //           .done(function (e) {
        //             f(".list-results").addClass("open"),
        //               f(".list-results").html(e);
        //           })
        //       : "" != f(".list-container").html().trim()
        //       ? f(".list-results").addClass("open")
        //       : f
        //           .ajax({
        //             type: "POST",
        //             // url: urlSearch,
        //             url: "{% url 'tim-kiem-goi-y' %}",
        //             data: { search: f("#keyword-default").val(), type: 1 },
        //           })
        //           .done(function (e) {
        //             f(".list-results").addClass("open"),
        //             f(".list-results").html(e);
        //           });
        //   }),
        //   f("body").click(function (e) {
        //     f(e.target).closest(".list-results").length ||
        //       f(e.target).closest(".text-search").length ||
        //       f(".list-results").removeClass("open");
        //   }),
      // f(document).on("click touchstart", ".button_login", function (i) {
      //       var e = "";
      //       "" == f("#user_login").val().trim()
      //         // ? (e += "Tài khoản không được để trống.\n")
      //         // : 0 == g(f("#user_login").val().trim()) &&
      //         //   (e += "Định dạng tài không không chính xác.\n")
      //         //   ,
      //         &&(e+= "Tài khoản không được để trống.\n"),
      //         "" == f("#password_login").val().trim()
      //           ? (e += "Mật khẩu không được để trống.\n")
      //           : f("#password_login").val().trim().length <= 6 &&
      //             (e += "Mật khẩu phải lớn hơn 6 ký tự.\n"),
      //         "" != e
      //           ? alert(e)
      //           : f.ajax({
      //               type: "POST",
      //               // cache: !1,
      //               // url: "{% url 'dang-nhap' %}",
      //               url: "/dang-nhap-tai-khoan/",
      //               dataType: "json",
      //               data: {
      //                 UserName: f("#user_login").val(),
      //                 Password: f("#password_login").val(),
      //                 // expire: 1,
      //               },
      //               success: function (e) {
      //                 if ("0" == e.status) {
      //                   // var t = "";
      //                   // for (var n in e.error) t += e.error[n] + "\n";
      //                   // alert(t), i.preventDefault();
      //                   alert("That bai");
      //                 }
      //                 else {
      //                   location.reload(!0);
      //                   alert("Dang nhap thanh cong");
      //                 }
      //               },
      //             });
      //     });
      $("#user_login").change(function () {
        var nameReg = /^[A-Za-z0-9]+$/;
        var numberReg = /^[0-9]+$/;
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        var UserName = $(this).val();
        if (UserName == "") {
        } else if (!nameReg.test(UserName)) {
          alert("Tài khoản không chứa ký tự đặc biệt !");
        } else {
          $.ajax({
            url: "/kiem-tra-tai-khoan/",
            data: {
              UserName: UserName,
            },
            dataType: "json",
            success: function (data) {
              if (data.is_taken) {
                // alert(" Tai khoan co ton tai");
              } else {
                alert("Hệ thống tra cứu không có tài khoản này!!");
              }
            },
          });
        }
      });
      $("#password_login").change(function () {
        var nameReg = /^[A-Za-z]+$/;
        var passReg = /^[A-Za-z0-9]+$/;
        var numberReg = /^[0-9]+$/;
        var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
        var Password = $(this).val();
        if (!passReg.test(Password)) {
          alert("Mật khẩu không chứa ký tự đặc biệt !");
        }
      });
      $("#login_manga").click(function () {
        var UserName = $("#user_login").val();
        var Password = $("#password_login").val();
        if (UserName == "" && Password == "") {
          alert("Tài khoản và mật khẩu không được để trống !");
        } else if (UserName == "") {
          alert("Tài khoản không được để trống !");
        } else if (Password == "") {
          alert("Mật khẩu không được để trống !");
        } else {
          $.ajax({
            url: "/dang-nhap-tai-khoan/",
            dataType: "json",
            data: {
              UserName: UserName,
              Password: Password,
            },
            // type:"GET",
            success: function (data) {
              if (data.Success) {
                // $(".outsite").html(data.User);
                $("#data_login ").html(data.User);
                $("#login-modal").removeClass("is-active");
                // window.location.reload();
              } 
              else {
                // location.reload();
                $("#data_login ").html(data.User);
                alert("Sai Mật khẩu hoặc Tài Khoản");
                $("#password_login").val("");
                // $("#login-modal").removeClass("is-active")
              }
              if(data.Viphamquyen){
                alert("Tài khoản này vi phạm hoặc không có quyền truy cập");
                $("#password_login").val("");
                $("#user_login").val("");
              }
            },
          });
        }
      });
      $(document).ready(function () {
        $.ajax({
          url: "/kiem-tra-tinh-trang-dang-nhap/",
          dataType: "json",
          success: function (data) {
            if (data.Success) {
              $("#data_login ").html(data.User);
            } else {
              $("#data_login ").html(data.User);
            }
          },
        });
        $.ajax({
          url:"/the-loai-truyen/",
          dataType:"json",
          success:function(data){
            $("#Category").html(data.cate);
          }
        });
      });
      $(document).ready(function(){
        $(".success-mail").addClass("hidden"),
        $(".tabs-buttons").removeClass("hidden"),
        $(".tabs-contents").removeClass("hidden");
      });
    </script>
    {% block js %} {% endblock %}
  </body>
</html>
