{% extends "client/index.html" %} {% load static %} {% block content %}
<section class="main-content">
  <div class="container story-list">
    <div class="title-list">Danh sách tìm kiếm của bạn</div>
    <div class="tile is-ancestor">
      <div class="tile is-vertical is-parent">
        {% if manga != None %}
        <ul class="list-stories grid-6">
          {% for manga in manga %}
           <li>
            <div class="story-item">
             {% if manga.MangaType.pk == 1 %}
                  <a href="{% url 'truyen-tranh' manga.Slug %}">
                    {% if manga.Image %}
                    <img
                      class="story-cover"
                      src="{{ manga.Image.url }}"
                      alt="{{manga.MangaName}}"
                    />
                    {% endif %}
                  </a>
                {% else %}
                    <a href="{% url 'truyen-chu' manga.Slug %}">
                    {% if manga.Image %}
                    <img
                      class="story-cover"
                      src="{{ manga.Image.url }}"
                      alt="{{manga.MangaName}}"
                      />
                    {% endif %}
                    </a>
                {% endif %}
              <div class="top-notice">
                {% if manga.Chapnow == 0 %}
                  <span class="time-ago">Đang cập nhập</span>
                  {% else %}
                  <span class="time-ago"
                    >{{manga.DateUpChap|timesince}}</span
                  >
                  {% endif %}
                <span class="type-label hot">Hot</span>
              </div>
              <h3 class="title-book">
                  {% if manga.MangaType.pk == 1 %}
                  <a href="{% url 'truyen-tranh' manga.Slug %}">{{ manga.MangaName}}</a>
                {% else %}
                  <a href="{% url 'truyen-chu' manga.Slug %}">{{ manga.MangaName}}</a>
                {% endif %}
              </h3>
              <div class="episode-book">
                {% if manga.Chapnow == 0 %}
                  <a href="#"> Đang Cập Nhập </a>
                  {% else %} {% if manga.MangaType.pk == 1 %}
                  <a
                    href="{% url 'truyen-tranh-chap' manga.Slug manga.Chapnow %}"
                  >
                    Chương {{manga.Chapnow}}
                  </a>
                  {% else %}
                  <a
                    href="{% url 'truyen-chu-chap' manga.Slug manga.Chapnow %}"
                  >
                    Chương {{manga.Chapnow}}
                  </a>
                  {% endif %} {% endif %}
              </div>
              <div class="more-info">
                <div class="title-more">
                  {{manga.MangaName}}
                </div>
                <div class="title-more-other">
                  Tên khác: {{manga.OrtherName}}
                </div>
                <p class="info">Tình trạng: Đang Cập Nhật</p>
                <p class="info">Lượt xem: 55,789</p>
                <p class="info">Lượt theo dõi: 750</p>
                <div class="list-tags">
                  {% for cate in category %} {% if cate.Manga.id == manga.id %}
                  <a class="blue" href="#">{{cate.Category.CategoryName}}</a>
                  {% endif %} {% endfor %}
                </div>
                <div class="excerpt">
                  {% if manga.Content|length > 150 %}
                  {{manga.Content|slice:"0:185"|safe|linebreaks}}... {% else %}
                  {{manga.Content|safe|linebreaks}} {% endif %}
                </div>
              </div>
            </div>
            <!-- /.story-item -->
          </li>
          {% endfor %}
        </ul>
        {% elif manga == None %}
           <p style="text-align: center; color: red;font-size: 15px;">Không tìm thấy</p>
        {% else %}
         <p style="text-align: center; color: red;font-size: 15px;">Vùi lòng điền, bạn chưa có tìm kiếm truyện gì cả</p>
         
        {% endif %}
      </div>
    </div>
    <!-- /.list-stories -->
  </div>
</section>
<!-- /.main-content -->
{% endblock %}
